xmp {
	display: inline;
}
[id^="fillmain"] {
	overflow:hidden;
	max-width:1024px;
	text-align:left;
}
[id^="fillmain"] pre
{
	background: none;
	border: none;
	font-size: 14px!important;
}
[id^="fillmain"] .string {
	min-height:50px;
	margin-top:10px;
	margin-right:10px;
}
[id^="fillmain"] .footerstr {
	position:relative;
	margin-top: 10px;
	background-color: #ccc;
	padding: 15px;
	min-height: 60px;/*100px;*/
}
[id^="fillmain"] .footerstr .arrow-up {
	position: absolute;
	top: -10px;
	right: 50%;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ccc;
}
[id^="fillmain"] .fill-row {
	padding:6px;
}
[id^="fillmain"] .fillelement, [id^="fillmain"] .drag-resize {
	height:30px;
	display:inline-block;
	position:relative;
	min-height: 30px;
	margin: 1px 0 1px 0;
	top: -3px;
}

td .drag-resize {
	top: 0 !important;
}
td .fillelement {
	top: 0px !important;
}
[id^="fillmain"] input[type="text"], [id^="fillmain"] select
{	
	height:99%!important;
	resize: none;
	font-size:12px;
	color: #000;
	max-width: 800px;
}
[id^="fillmain"] .drag-resize {
	vertical-align:middle;
	border:1px solid #31B731;
	text-align:center;
	padding:3px;
	font-size: 14px;
}
[id^="fillmain"] .drag-resize.ui-draggable {
	cursor:move;
}
[id^="fillmain"] .drop-hover
{
	border: 1px dashed red!important;
	box-shadow: 0 0 0 2px yellow inset;
	outline: 1px solid blue;
}
[id^="fillmain"] .fillcheck ul
{
	width:220px;
}
[id^="fillmain"] .fillcheck li.selected
{
	background-color: #E5E5E5;
}
.fillcheck .selected .icomoon-checkmark-3:before
 {
	  float: left;
	  color: blue;
	  padding: 3px;
	  position: relative;
	  right: 14px;
}
.fillcheck .icomoon-close-2:before
 {
	  float: left;
	  color: blue;
	  position: relative;
	  right: 14px;
	  font-size: 20px;
}
.MathJax_Display{
		display : inline!important;
}
[id^="fillmain"] .select
{
	font-size: 15px;
}
[id^="fillmain"] .textarea
{
	vertical-align: middle;
	border-radius:3px;
	background:#ffe;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.ui-draggable-disabled {
	cursor: no-drop!important;
	opacity: 0.5!important;
}
.sel {
	border :2px solid #FF0000!important;
}
.bla [id^="fillmain"] .dragable:focus,
.bla [id^="fillmain"] .dropable:focus {
	box-shadow: inset 0 0 0 1px transparent, inset 0 0 0 1px #ffffff, inset 0 0 0 2px #fff;
    outline: none;
}

.highlight_main {
	border : 1px dashed #000;
}

.copiedclr {
	background-color: #CCC!important;
}

[id^="fillmain"] select::-ms-expand{
    margin-left: 2px;
}
.fillintheblank {
  height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  margin-bottom:3px;
  line-height: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #555;
  background-color: #FFE;
  vertical-align: middle;
  background-image: none;
  border: 1px solid #ccc;
  font-family: Helvetica,Arial,'Times New Roman',Verdana,sans-serif;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.fillintheblank:focus {
  border-color: rgba(82,168,236,0.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}
.correct_incorrect_icon_fill {
	position:absolute;
	width:17px;
	height:18px;
	right:-4px;
	top:-7px;
	font-size: 17px;
	white-space: normal !important;
}