.toolbar_container_one {
  max-height: 359px;
  max-width: 641px;
  margin: 0 auto;
  border: 1px solid #91653E;
  border-width: 0 1px 1px 1px;
  z-index: 1;
  font-size: 17px !important;
}

.draggable_area {
  display: inline-flex;
  height: 24px;
  width: 100%;
  background-color: #654320;
}

.dots_container {
  margin: auto;
  text-align: center;
}

.dots {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: inline-block;
  background-color: #888;
}

.toolbar_types_area {
  max-height: 35px;
  display: inline-flex;
  width: -webkit-fill-available;
  width: 100%;
  background-color: #F0F0F0;
}

.select_area {
 width: 162px;
 margin: 4px 0;
}

.option_selectbox {
  width: 155px;
  padding: 4px 2px;
  border: none;
  margin-left: 2px;
  border: 1px solid;
}

.show_text_area {
  width: 605px;
}

.lower_part_toolbar {
  border: 1px solid #91653E;
  border-width: 1px 0;
}

.orange_container {
  background-color: #FCFCD3;
}

.column_four {
  background-color: #DDDDDD;
}

.blue_container {
  background-color:#E6F2FC;
}

.light_purpl_container {
  background-color: #F0F0F0;
}

.blank_color {
 background-color: #D7E7DA;
}

.blank_color:hover {
 outline: none;
}

.font_changer {
  font-weight: bold;
  font-size: 17px !important;
}

.first_btn,
.scnd_btn,
.thrd_btn,
.fourth_btn,
.fifth_btn {
  text-align: center;
  width: 80px;
  height: 58px;
  padding: 20px;
  border-right: 1px solid #91653E;
}

.first_btn:hover,
.scnd_btn:hover,
.thrd_btn:hover,
.fourth_btn:hover,
.fifth_btn:hover {
  outline: 1px solid;
  outline-offset: -6px;
}

.button_designs,
.lower_part_toolbar {
  display: inline-flex;
}

.scnd_btn,
.fourth_btn {
  border-top: 1px solid #91653E;
  border-bottom: 1px solid #91653E;
}

.columns_design {
  width: 80px;
}

.padder_btn {
  padding-top: 2px;
}

.mathfield_container {
  display: inline-flex;
  width: 100%;
}

.output_padder {
  padding: 20px 0 10px;
}

.basic_container {
  padding-bottom: 20px;
  z-index: 0;
}

.border_line {
  border-top: 1px solid #eee;
}

.remove_border {
  border: none;
}

.toolbar_column {
  width: 200px;
}

.button_container {
  margin-top: 20px;
}

.code_output {
  padding-bottom: 20px;
}

.box {
  height: 10px;
  width: 10px;
  border: 1px solid;
}

.xvariable {
  width: 20px; 
  margin: auto;
  height: 19px;
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -32px -487px;
}

.yvariable {
  width: 22px; 
  margin: auto;
  height: 22px;
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -30px -714px;
}

.xfraction {
  width: 21px; 
  margin: auto;
  height: 49px;
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -23px -922px;;
}

.modulus {
  width: 25px; 
  margin: auto;
  height: 30px;
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -27px -848px; 
}

.padder_less {
  padding-top: 15px;
}

.padder_remover {
  padding-top: 10px;
}

.padder_field {
  padding-top: 12px;
}

.sigma {
  width: 16px; 
  margin: auto;
  height: 48px;
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -36px -381px; 
}

.h-bar {
  width: 17px; 
  margin: auto;
  height: 34px;
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -32px -507px; 
}

.block-equal {
  width: 18px; 
  margin: auto;
  height: 38px;
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -34px -436px; 
}

.x-power-y {
  width: 21px; 
  margin: auto;
  height: 38px;
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -899px; 
}

.nine-matrix { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -0px; 
  width: 52px; 
  height: 37px;
  margin: auto; 
}
.horizontal-matrix { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -38px; 
  width: 47px; 
  height: 40px;
  margin: auto;
}
.long-division { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -79px; 
  width: 45px; 
  height: 32px;
  margin: auto;
 }
.vertical-matrix { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -112px; 
  width: 45px; 
  margin: auto;
  height: 40px; 
}
.four-matrix { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -153px; 
  margin: auto;
  width: 38px; 
  height: 29px; 
}
.square-root-two { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -183px; 
  width: 38px; 
  height: 39px;
  margin: auto; 
}
.x-times-fraction { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -223px;
  margin: auto;
  width: 37px; 
  height: 50px; 
}
.square-root { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -274px; 
  width: 36px; 
  height: 34px; 
  margin: auto;
}
.brackets { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -309px; 
  width: 35px; 
  height: 34px; 
  margin: auto;
}
.h-power { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -344px; 
  width: 35px; 
  height: 36px; 
  margin: auto;
}
.single-matrix { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -381px; 
  width: 34px; 
  height: 26px; 
  margin: auto;
}
.curly-brackets { background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -408px; 
  width: 33px; 
  margin: auto;
  height: 27px; 
}
.matrix-form { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -436px; 
  width: 32px; 
  height: 24px; 
  margin: auto;
}
.xsquare { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -461px; 
  width: 31px; 
  height: 25px; 
  margin: auto;
}
.integrtion { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -487px; 
  width: 30px; 
  height: 40px;
  margin: auto; 
}
.opp-recbrackets { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -528px; 
  width: 30px; 
  height: 27px;
  margin: auto; 
}
.square-brackets { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -556px; 
  width: 30px; 
  height: 34px;
  margin: auto;
}
.xsubscript { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -591px; 
  width: 30px; 
  height: 31px; 
  margin: auto;
}
.dollar { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -623px; 
  width: 29px; 
  height: 31px; 
  margin: auto;
}
.h-sub { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -655px; 
  margin: auto;
  width: 29px; 
  height: 30px; 
}
.rec-brackets { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -686px; 
  width: 28px; 
  height: 31px; 
  margin: auto;
}
.xpower { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -718px; 
  width: 28px; 
  height: 30px; 
  margin: auto;
}
.bar-block { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -749px; 
  width: 26px; 
  height: 34px; 
  margin: auto;
}
.infinity { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -784px; 
  width: 26px; 
  height: 20px; 
  margin: auto;
}
.topbar-arrow { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -805px; 
  width: 26px; 
  height: 42px; 
  margin: auto;
}
.h-sup { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png)-1px -848px; 
  width: 25px; 
  height: 26px; 
  margin: auto;
}
.colon { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -28px -749px; 
  width: 24px; 
  height: 31px; 
  margin: auto;
}
.not-lesser { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -28px -781px; 
  width: 24px; 
  height: 23px; 
  margin: auto;
}
.h-sup-sub { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -28px -805px; 
  width: 23px; 
  height: 36px; 
  margin: auto;
}
.info-img { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -1px -875px; 
  margin: auto;
  width: 23px; 
  height: 23px; 
}
.not-greater { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -30px -686px; 
  width: 22px; 
  margin: auto;
  height: 27px; 
}
.topbar-doublearrow { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -25px -879px; 
  width: 22px;
  margin: auto;
  height: 42px; 
}

.x-div { 
  background: url(https://s3.amazonaws.com/jigyaasa_assets/items/toolbar_images.png) -31px -623px; 
  width: 21px; 
  height: 44px; 
  margin: auto;
}

.rborder_remover {
  border-right: 0;
}

.dec_widther {
  width: 78px;
}

.bborder_remover {
  border-bottom: 0;
}

.blank_color:hover {
  outline: 0;
}

.bborder_adder {
  border-bottom: 1px solid #91653E;
}

.increase_size {
  width: 133px;
}

.toolbar_sizing {
  width: 601px;
}

.color_changer {
  background-color: #FCD4BA;
}

.input_padder {
  padding-left: 20px;
}

@media (max-width: 556px)
{
  .first_btn,
  .scnd_btn,
  .thrd_btn,
  .fourth_btn,
  .fifth_btn,
  .columns_design
  {
    width: 30px;
  }
}

@media (max-width: 768px)
{
  .first_btn,
  .scnd_btn,
  .thrd_btn,
  .fourth_btn,
  .fifth_btn,
  .columns_design
  {
    width: 50px;
  }
}

@media (max-width: 992px)
{
  .first_btn,
  .scnd_btn,
  .thrd_btn,
  .fourth_btn,
  .fifth_btn,
  .columns_design
  {
    width: 80px;
  }
}

.height_modifier {
 max-height: 290px;
 overflow-y: scroll;
}

.tborder_remover {
  border-top: 0;
}

.close_toolbar {
  padding: 5px;
  color: #888;
  border: none;
  background-color: #654320;
}