[id^=matchmain] {
    width: 700px;
    min-height: 10px;
    position: relative;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px
}

[id^=matchmain] .row-fluid {
    width: 100%;
    *zoom: 1
}

[id^=matchmain] .row-fluid:after,[id^=matchmain] .row-fluid:before {
    display: table;
    line-height: 0;
    content: ""
}

[id^=matchmain] .row-fluid:after {
    clear: both
}

[id^=matchmain] .row-fluid [class*=span] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

[id^=matchmain] .row-fluid [class*=span]:first-child {
    margin-left: 0
}

[id^=matchmain] .row-fluid .span4 {
    width: 36.914893617021278%;
    *width: 36.861702127659576%
}

[id^=matchmain] .row-fluid .span3 {
    width: 21.914893617021278%!important;
    *width: 21.861702127659576%!important
}

[id^=matchmain] .heading {
    font-size: 17px!important;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 30px
}

[id^=matchmain] .arrow {
    min-height: 44px;
    padding: 7px 10px;
    background: url(https://s3.amazonaws.com/jigyaasa_assets/items/arrow_matchtype.png) no-repeat 100% 50%;
    margin-left: -10.5%;
    margin-right: -10%;
    *margin-left: -7.12766%
}

[id^=matchmain] .list4 {
    display: inline-table;
    width: 214px;
    margin-right: 1.3%;
    cursor: move
}

[id^=matchmain] .list1,[id^=matchmain] .list2,[id^=matchmain] .list3,[id^=matchmain] .list4 {
    padding: 7px 10px;
    margin-bottom: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 12px;
    min-height: 40px;
    word-wrap: break-word
}

[id^=matchmain] .list2,[id^=matchmain] .list3,[id^=matchmain] .list4 {
    line-height: 20px
}

[id^=matchmain] .list3 {
    text-align: center;
    line-height: 25px
}

[id^=matchmain] .list1 {
    border: 1px solid #000;
    background-color: #cfc;
    cursor: move;
    line-height: 22px
}

[id^=matchmain] .list2,[id^=matchmain] .list3,[id^=matchmain] .list4 {
    border: 1px solid #000;
    background-color: #ffc;
    position: relative
}

[id^=matchmain] .list3 {
    background-color: #fff
}

[id^=matchmain] .clone {
    z-index: 0!important;
    background-color: #fffcc1!important;
    border: 0!important
}

[id^=matchmain] .drop-hover {
    border: 1px dashed #000;
    box-shadow: 0 0 0 1px #000 inset
}

[id^=matchmain] #lines {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7px;
    left: 0
}

[id^=matchmain] .line {
    stroke: #000;
    stroke-width: 2px;
    z-index: 11
}

[id^=matchmain] .serial {
    float: left;
    padding-right: 1px
}

[id^=matchmain] .correct {
    stroke: #5bb75b;
    stroke-width: 2px;
    z-index: 0
}

[id^=matchmain] .list1 img,[id^=matchmain] .list2 img,[id^=matchmain] .list3 img,[id^=matchmain] .list4 img {
    max-width: 100px;
    max-height: 100px
}

.match_options {
    background: #e4eeff;
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 15px 10px 10px 20px;
    box-shadow: 0 0 2px 1px gray;
    height: auto
}

.dropped {
    background-color: #ffc!important;
    cursor: move
}

.matchlist-delete {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    z-index: 16
}

.list1,.list2,.list3,.list4 {
    color: #000!important
}

.selmatch {
    border: solid 2px red!important;
    border-radius: 2px!important
}

.remoutline {
    outline: solid 3px red!important
}

.copiedclr {
    background-color: #ccc!important
}

.bla [id^=matchmain] .list1:focus,.bla [id^=matchmain] .list2:focus,.bla [id^=matchmain] .list3:focus,.bla [id^=matchmain] .list4:focus {
    box-shadow: inset 0 0 0 1px transparent,inset 0 0 0 1px #fff,inset 0 0 0 2px #fff;
    outline: 0
}

.textdel>span {
    top: 0
}